<html>
<head>
    <link rel="modulepreload" href="/main.js">
    <link rel="modulepreload" href="/logic.js">
    <link rel="modulepreload" href="/cards/base.js">
    <link rel="modulepreload" href="/cards/index.js">
    <link rel="modulepreload" href="/cards/expansion.js">
    <link rel="modulepreload" href="/cards/absurd.js">
    <link rel="modulepreload" href="/cards/test.js">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="module">
        import {load, loadTutorial} from '/main.js'
        if (<%= tutorial%>) {
            loadTutorial()
        } else {
            load('<%- url %>') //- for no escaping
        }
    </script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Engine</title>
</head>

<body>

<div id='scoreSubmitter' class='dialogBox'>
</div>

<div id='campaignSubmitter' class='dialogBox'>
    <div> New score: <span id='newbest'></span></div>
    <div> Prior score: <span id='priorbest'></span></div>
    <div> New awards: <span id='awards'></span></div>
    <div> Next award: <span id='nextAward'></span></div>
    <span class="option" choosable id="done">Done</span>
</div>

<div id='tutorialDialog'>
</div>

<div>
    <div id='rightBox'>
        <div id='best'></div>
        <div>(<a id='homeLink' href='/'>home</a>)</div>
    </div>
    <div id='undoArea'> </div>
</div>
<div id='kingdomViewSpot'></div>
<div id='macroSpot'></div>
<div> &nbsp; </div>
<div class='header' id='resolvingHeader'> Resolving: </div>
<div id='toparea'>
    <div id='resolving' class='zone'> </div>
    <div id='choicePrompt'></div>
</div>
<div id='options'></div>

<div id='resources'>
    Actions: <span id='actions' class='resource'></span>
    Buys: <span id='buys' class='resource'></span>
    $: <span id='coin' class='resource'></span>
    @: <span id='energy' class='resource'></span>
    vp: <span id='points' class='resource'></span>
</div>
<div> &nbsp; </div>
<div class='header' zone='events'> <span class='zonename'>Events:</span> </div>
<div id='events' class='zone'> </div>


<div> &nbsp; </div>
<div class='header' zone='supply'> <span class='zonename'>Supplies:</span> </div>
<div id='supply' class='zone'> </div>

<div> &nbsp; </div>
<div class='header' zone='hand'> <span class='zonename'>Hand (<span id='handsize'></span> cards):</span> </div>
<div id='hand' class='zone'> </div>

<div> &nbsp; </div>
<div class='header' zone='play'> <span class='zonename'>Play (<span id='playsize'></span> cards):</span>  </div>
<div id='play' class='zone'> </div>


<div> &nbsp; </div>
<div class='header' zone='discard'> <span class='zonename'>Discard (<span id='discardsize'></span> cards):</span>  </div>
<div id='discard' class='zone'> </div>


<!--
<div> &nbsp; </div>
<div class='header'> Set aside: </div>
<div id='aside' class='zone'> </div>
-->

<div> &nbsp; </div>
<div class='header'>
    History:
    <span class='logTypes'>
        <input type='radio' name='logType' value='energy' checked='checked'>
            @
        <input type='radio' name='logType' value='costs'> costs
        <input type='radio' name='logType' value='acts'> acts
        <input type='radio' name='logType' value='all'> all
    </span>
</div>
<div> &nbsp; </div>
<div id='log'> </div>

</body>

</html>
