<html>
<head>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript">window.serverSeed = '<%= seed %>'</script>
<script type="module" src="main.js"></script>
<link rel="stylesheet" type="text/css" href="style.css"/>
<title>Dominion-like</title>
</head>

<body>

<div id='scoreSubmitter'>
    This is a test!
</div>

<div id='resources'>
    $: <span id='coin'></span> @: <span id='energy'></span> vp: <span id='points'></span>
    <div id='best'></div>
</div>
<div id='undoArea'> </div>
<div> &nbsp; </div>
<div class='header' id='resolvingHeader'> Resolving: </div>
<div id='toparea'>
    <div id='resolving' class='zone'> </div>
    <div id='choicePrompt'></div>
</div>
<div id='options'></div>

<div> &nbsp; </div>
<div class='header'> Supplies: </div>
<div id='supply' class='zone'> </div>

<div> &nbsp; </div>
<div class='header'> Hand: </div>
<div id='hand' class='zone'> </div>

<div> &nbsp; </div>
<div class='header'> Deck: </div>
<div id='deck' class='zone'> </div>

<div> &nbsp; </div>
<div class='header'> Discard: </div>
<div id='discard' class='zone'> </div>

<div> &nbsp; </div>
<div class='header'> Play: </div>
<div id='play' class='zone'> </div>


<div> &nbsp; </div>
<div class='header'> Set aside: </div>
<div id='aside' class='zone'> </div>

<div> &nbsp; </div>
<div class='header'> History: </div>
<div> &nbsp; </div>
<div id='log'> </div>

</body> 

</html>
