<html>
<head>
    <link rel="modulepreload" href="/main.js">
    <link rel="modulepreload" href="/logic.js">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="module">
        import {load, loadTutorial} from '/main.js'
        if (<%= tutorial%>) {
            loadTutorial()
        } else {
            load('<%- url %>') //- for no escaping
        }
    </script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Engine</title>
</head>

<body>

<div id='scoreSubmitter'>
</div>

<div id='tutorialDialog'>
</div>

<div>
    <div id='rightBox'>
        <div id='best'></div>
        <div id='homeLink'>(<a href='/'>home</a>)</div>
    </div>
    <div id='undoArea'> </div>
</div>
<div id='kingdomViewSpot'></div>
<div id='macroSpot'></div>
<div> &nbsp; </div>
<div class='header' id='resolvingHeader'> Resolving: </div>
<div id='toparea'>
    <div id='resolving' class='zone'> </div>
    <div id='choicePrompt'></div>
</div>
<div id='options'></div>

<div id='resources'>
    Actions: <span id='actions' class='resource'></span>
    Buys: <span id='buys' class='resource'></span>
    $: <span id='coin' class='resource'></span>
    @: <span id='energy' class='resource'></span>
    vp: <span id='points' class='resource'></span>
</div>
<div> &nbsp; </div>
<div class='header'> Events: </div>
<div id='events' class='zone'> </div>


<div> &nbsp; </div>
<div class='header'> Supplies: </div>
<div id='supply' class='zone'> </div>

<div> &nbsp; </div>
<div class='header'> Hand (<span id='handsize'></span> cards) </div>
<div id='hand' class='zone'> </div>

<div> &nbsp; </div>
<div class='header'> Play (<span id='playsize'></span> cards) </div>
<div id='play' class='zone'> </div>


<div> &nbsp; </div>
<div class='header'> Discard (<span id='discardsize'></span> cards) </div>
<div id='discard' class='zone'> </div>


<!--
<div> &nbsp; </div>
<div class='header'> Set aside: </div>
<div id='aside' class='zone'> </div>
-->

<div> &nbsp; </div>
<div class='header'>
    History:
    <span class='logTypes'>
        <input type='radio' name='logType' value='energy' checked='checked'>
            @
        <input type='radio' name='logType' value='costs'> costs
        <input type='radio' name='logType' value='acts'> acts
        <input type='radio' name='logType' value='all'> all
    </span>
</div>
<div> &nbsp; </div>
<div id='log'> </div>

</body>

</html>
